body{
    background-color: sandybrown;
}

h1{
color: snow;
text-align: center;
}

#tekst{
    text-align: center;
    color: slategrey;
}

#dodaj{
    border-width: 2px;
    border-color: violet;
}

#usun{
    border-width: 2px;
    border-color: violet;
    color: red;
}